.bundle
.ruby-version
.node-version
.overloads
.rubocop*
.erb-lint.yml

.git
.gitignore
.idea
.github
.env-example
.env
.env.*
.dockerignore
Procfile
log/*
tmp/*
tmp/**
node_modules
packages/*/node_modules
storage
vendor/
public/packs-test
public/uploads
spec
deploy

Dockerfile
OVERLOADS.md
Makefile
README*
CHANGELOG*
LICENSE*

coverage
.byebug_history
docker-compose*
compose*

*.swp
*.swo
*.bak

.DS_Store
.vscode

